{% extends "doctor/dashboard.html" %}
{% block dashboard_content %}
    <div class="row">
             <div class="col-md-8 p-2">
                <div class="card" style="height:350px">
                    <div class="card-body bg-orange">

                    </div>
                </div>
            </div>
            <div class="col-md-4 p-2" >
                <div class="card" style="height:350px">
                    <div class="card-body bg-blue">

                    </div>
                </div>
            </div>
        </div>




{% endblock %}