{% extends "diseases/main.html" %}
{% block disease_body %}

         <main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class=" p-4">Hello! Lets Get Started with RiskAssess</h1>
      <p>Welcome to RiskAssess!, a risk assessment system for medical institutions to generate risk assessments for their patients. RiskAssess started off as a company that formed strong relationships with medical institutions to help them generate their assessments with ease and maximum efficiency thus saving the organization's valuable time.
          Click below to learn about the diseases that RiskAssess is capable of assessing.</p>
      <p><a class="btn text-white bg-blue " href="/disindex" role="button" style="padding-left: 20px;padding-right: 20px">Get Started &raquo;</a></p>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h3>1. Cancer Prediction</h3>
        <p>Navigate to the "Cancer" section and add the corresponding details and click on predict to learn whether the patient is at the risk of this illness/disease.</p>

      </div>
      <div class="col-md-4">
        <h3>2. Diabetes Prediction</h3>
        <p>Navigate to the "Diabetes" section and add the corresponding details and click on predict to learn whether the patient is at the risk of this illness/disease.</p>

      </div>
      <div class="col-md-4">
        <h3>3. Heart Disease</h3>
        <p>Navigate to the "Heart Disease" section and add the corresponding details and click on predict to learn whether the patient is at the risk of this illness/disease.</p>

      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <h3>4. Kidney Disease</h3>
        <p>Navigate to the "Kidney Disease" section and add the corresponding details and click on predict to learn whether the patient is at the risk of this illness/disease.</p>

      </div>
      <div class="col-md-4">
        <h3>5. Liver Disease </h3>
        <p>Navigate to the "Liver Disease" section and add the corresponding details and click on predict to learn whether the patient is at the risk of this illness/disease.</p>

      </div>
      <div class="col-md-4">
        <h3>6. Disease Index</h3>
        <p>Navigate to the "Disease Index" section and gain in-depth information about each of these diseases.</p>

      </div>
    </div>
    </div>
    <hr>
  </div>
</main>

    <div class="container p-4">
        <p>&copy;diseases diagonosis. All Rights Reserved</p>
    </div>
{% endblock %}