{% extends "admin/dashboard.html" %}
{% block dashboard_content %}
    <span class="text-14 font-weight3">ADMIN DASHBOARD</span>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>

                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>
        <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>
{% endblock %}