{% extends "admin/dashboard.html"%}
{% block dashboard_content %}
    <div >
        <div class="container">
            <div class="card m-1">
                <div class="card-body text-13">
                    <form method=post action="{{ url_for("admin.save_profile") }}" role="form">
                        <h5 class="p-2">Edit Profile</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group m-1">
                                    <label class="font-weight7">Username</label>
                                    <div class=""><input type="text" class="form-control form-control-sm" name="username" value="{{ info.username }}" required></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-1">
                                    <label class="font-weight7">Email</label>
                                    <div class=""><input type="email" class="form-control form-control-sm" name="email" value="{{ info.email }}" required></div>
                                </div>
                            </div>
                        </div>
                        <div class="m-2">
                            <button type="submit" class="btn bg-blue text-white text-13">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card m-1">
                <div class="card-body text-13">
                    <form class="" role="form" method=post action="{{ url_for("admin.change_password") }}">
                        <h5 class="">Change Password</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group m-1">
                                    <label class="font-weight7">Old Password</label>
                                    <div class=""><input type="password" class="form-control form-control-sm" name="old_password" required></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-1">
                                    <label class="font-weight7">New Password</label>
                                    <div class=""><input type="password" class="form-control form-control-sm" name="new_password" required></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-1">
                                    <label class="font-weight7">Password Confirmation</label>
                                    <div class=""><input type="password" class="form-control form-control-sm" name="password_confirm" required></div>
                                </div>
                            </div>
                        </div>
                         <div class="m-2">
                            <button type="submit" class="btn bg-blue text-white text-13">Save Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}